:root {
  /* colors */
  --scrollerGrey: 219, 219, 219;
  --lightGrey: 227, 227, 227;
  /* --darkerGrey: 200, 200, 200; */
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  
}


h1,h2,h3,h4,h5 {
  margin-top: 0;
  margin-bottom: 0;
}
body{
height: fit-content;
}
.body {
  padding-top: 46px;
  width: 1300px;
background-position-x: 50%;
background-position-y: 200px;
background-size: 1300px;
display: flex;
flex-direction: column;
}